body {
	font-family: "Arimo", sans-serif;
	background-image: url("images/blackjackbackground.png");
	text-align: center;
	color: rgb(12, 78, 3);
}

h1 {
	font-size: clamp(2rem, 10vw, 5rem);
}

/* (A) SHARED */
/* (A1) CONTAINERS */
#deal-wrap,
#play-wrap {
	min-height: 120px;
	border-radius: 1.5rem;
}
#deal-data,
#play-data {
	padding: 10px;
	color: #333;
	border-radius: 3rem;
}
#deal-stand,
#play-stand {
	display: none;
	padding: 5px;
	background: #ab2323;
	color: #fff;
}
#deal-stand.stood,
#play-stand.stood {
	display: inline-block;
}

/* (A2) CARDS */
#deal-cards,
#play-cards {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-gap: 10px;
	padding: 10px;
}
.bj-card {
	box-sizing: border-box;
	font-size: 2em;
	text-align: center;
	padding: 10px;
	width: 100%;
	background: #fff;
	border: 1px solid #eaeaea;
}

/* (B) DEALER'S CARDS */
#deal-wrap {
	background: #83ce88;
}
#deal-data {
	background: #079632;
}
#deal-first .front {
	display: none;
}
#deal-first.show .back {
	display: none;
}
#deal-first.show .front {
	display: block;
}

/* (C) PLAYER'S CARDS */
#play-wrap {
	background: #e4e39b;
}
#play-data {
	background: #eee343;
}

/* (D) PLAY CONTROLS */
#play-control {
	display: grid;
	grid-template-columns: 100%;
	grid-gap: 10px;
	padding: 10px;
	background: rgb(1, 65, 9);
	border-radius: 3rem;
}
#play-control input {
	box-sizing: border-box;
	cursor: pointer;
	border: 0;
	border-radius: 3rem;
	padding: 10px 0;
	background: #05ac21;
	color: rgb(0, 0, 0);
	width: 100%;
}
#playc-hit,
#playc-stand {
	display: none;
}
#play-control.started {
	grid-template-columns: 50% 50%;
}
#play-control.started #playc-start {
	display: none;
}
#play-control.started #playc-hit,
#play-control.started #playc-stand {
	display: block;
}
